
.sidebar {
    color: white;
    list-style: none;
}

.sidebar-item {            
    color: white;               
    margin: 1rem;    
    width: 100%;
    height: 2rem;
    flex: auto;
    justify-content: flex-start;
    align-items: center;     
    font-size: 1rem;        
    line-height: 2.5rem;
    margin-left: 0.25rem;        
}     

.sidebar-item:hover :active{    
    color: white;    
    border-radius: 0.5rem;
    margin: 1rem;
    width: 100%;
    height: 2rem;
    flex: auto;
    justify-content: flex-start;
    align-items: center; 
    font-size: 1rem;        
    line-height: 1.5rem;
    margin-left: 0.25rem;        
    background-color: #06092e;
}